body,html{
	margin:0;
	padding:0;
	font-family: "微软雅黑","Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
#header{
	width:100%;
	height:70px;
	background:#f4f4f4;
}
#top{
	width:960px;
	height:70px;
	margin:auto;
}
#topleft{
	margin:10px 0 0 65px;
	float: left;
}
#topright{
	float:right;
	margin-top:25px;
}
/*按钮*/
#buttonList{
	list-style-type:none;
	padding:0;
	margin:0;
	height:25px;
	margin-right:90px;
}
#buttonList li{
	float:left;
	margin-left:15px;
}
#buttonList li a{
	font-size: 18px;
	color:#7b7b7b;
}
#buttonList li a:hover{
	color:#1e7eef;
	cursor:pointer;
}
#buttonList li a{
	text-decoration: none;
}

/*页尾*/
#footer{
	text-align: center;
	font-size:.85em;
	padding:20px 0;
	background:#fff;
	color:#999;
	word-spacing: 3px;
}
/*备案号样式*/
#recordNumber{
	text-decoration: none;
	color:#999;
}